In [1]:
import pandas as pd
import numpy
import matplotlib.pyplot as plt
#import seaborn as sns
#pip install seaborn

In [7]:
# Read first csv as a dataframe
city_data = pd.read_csv("city_data.csv")
city_data.head()

             city  driver_count   type
0      Kelseyland            63  Urban
1      Nguyenbury             8  Urban
2    East Douglas            12  Urban
3   West Dawnfurt            34  Urban
4  Rodriguezburgh            52  Urban

In [3]:
# Read first csv as a dataframe
ride_data = pd.read_csv("ride_data.csv")
ride_data.head()

          city                 date   fare        ride_id
0     Sarabury  2016-01-16 13:49:27  38.35  5403689035038
1    South Roy  2016-01-02 18:42:34  17.49  4036272335942
2  Wiseborough  2016-01-21 17:35:29  44.18  3645042422587
3  Spencertown  2016-07-31 14:53:22   6.87  2242596575892
4   Nguyenbury  2016-07-09 04:42:44   6.28  1543057793673

In [4]:
merge_data = (pd.merge(city_data, ride_data, on="city"))
merge_data.head()

         city  driver_count   type                 date   fare        ride_id
0  Kelseyland            63  Urban  2016-08-19 04:27:52   5.51  6246006544795
1  Kelseyland            63  Urban  2016-04-17 06:59:50   5.54  7466473222333
2  Kelseyland            63  Urban  2016-05-04 15:06:07  30.54  2140501382736
3  Kelseyland            63  Urban  2016-01-25 20:44:56  12.08  1896987891309
4  Kelseyland            63  Urban  2016-08-09 18:19:47  17.91  8784212854829

In [5]:
#BUBBLE CHART that showcases the relationship between four key variables
# Average Fare ($) Per City 
# Total Number of Rides Per City
# Total Number of Drivers Per City
# City Type (Urban, Suburban, Rural)

In [16]:
# Calculate total fares
total_fares = merge_data.loc[:,"fare"]
total_fares = total_fares.sum()

city_type = merge_data.groupby["type"].sum()
city_type
# Pie chart 1 
#* % of Total Fares by City Type
# Labels for the sections of our pie chart
#labels = merge_data["city"]
#labels = ["Python", "C++", "Ruby", "Java"]

# The values of each section of the pie chart
#sizes = merge_data["fare"]
# Tells matplotlib to seperate the "Python" section from the others
#explode = (0.1, 0, 0, 0)
# Colors of each section (need to change)
#colors = ["Gold", "Light Sky Blue", "Light Coral"]
#merge_data.plot.pie(sizes, explode=explode, labels=labels, colors=colors,
        #autopct="%1.1f%%", shadow=True, startangle=140)

#merge_data.plot(kind='pie', y = 'fare', autopct='%1.1f%%', 
 #startangle=90, shadow=False, labels=merge_data['city'], legend = False, fontsize=14)
#plot.show()

TypeError: 'method' object is not subscriptable

In [ ]:
# Tells matplotlib that we want a pie chart with equal axes
#plt.axis("equal")

In [ ]:
# Prints our pie chart to the screen
#plt.show()

In [ ]:
# Pie chart 2
#* % of Total Rides by City Type

In [ ]:
# Pie chart 3 
#* % of Total Drivers by City Type

In [ ]:
#You must stick to the Pyber color scheme (Gold, Light Sky Blue, and Light Coral) in producing your plot and pie charts.
#  * When making your Bubble Plot, experiment with effects like `alpha`, `edgecolor`, and `linewidths`.
#  * When making your Pie Chart, experiment with effects like `shadow`, `startangle`, and `explosion`.