In [1]:
import pandas as pd
import numpy
import matplotlib.pyplot as plt
#import seaborn as sns
#pip install seaborn

In [2]:
# Read first csv as a dataframe
city_data = pd.read_csv("city_data.csv")
city_data.head()

             city  driver_count   type
0      Kelseyland            63  Urban
1      Nguyenbury             8  Urban
2    East Douglas            12  Urban
3   West Dawnfurt            34  Urban
4  Rodriguezburgh            52  Urban

In [3]:
# Read first csv as a dataframe
ride_data = pd.read_csv("ride_data.csv")
ride_data.head()

          city                 date   fare        ride_id
0     Sarabury  2016-01-16 13:49:27  38.35  5403689035038
1    South Roy  2016-01-02 18:42:34  17.49  4036272335942
2  Wiseborough  2016-01-21 17:35:29  44.18  3645042422587
3  Spencertown  2016-07-31 14:53:22   6.87  2242596575892
4   Nguyenbury  2016-07-09 04:42:44   6.28  1543057793673

In [4]:
merge_data = (pd.merge(city_data, ride_data, on="city"))
merge_data.head()

         city  driver_count   type                 date   fare        ride_id
0  Kelseyland            63  Urban  2016-08-19 04:27:52   5.51  6246006544795
1  Kelseyland            63  Urban  2016-04-17 06:59:50   5.54  7466473222333
2  Kelseyland            63  Urban  2016-05-04 15:06:07  30.54  2140501382736
3  Kelseyland            63  Urban  2016-01-25 20:44:56  12.08  1896987891309
4  Kelseyland            63  Urban  2016-08-09 18:19:47  17.91  8784212854829

In [40]:
# Calculate average fare per city
average_fare = merge_data.groupby("city").mean()["fare"]
average_fare = average_fare.to_frame()
average_fare = average_fare.reset_index(level=None, drop=False, inplace=False)
average_fare.head()

           city       fare
0  Alvarezhaven  23.928710
1    Alyssaberg  20.609615
2    Anitamouth  37.315556
3  Antoniomouth  23.625000
4  Aprilchester  21.981579

In [39]:
#total_drivers = merge_data.groupby("city").count()["driver_count"]
#total_drivers = merge_data.groupby("city").count()
#total_drivesr = merge_data.loc[:, "driver_count"].sum
#total_drivers = total_drivers.to_frame()
#total_drivers = total_drivers.reset_index(level=None, drop=False, inplace=False)
#total_drivers.head()

In [37]:
# Calculate Total Number of Rides Per City
total_rides = merge_data.groupby("city").count()["ride_id"]
total_rides = total_rides.to_frame()
total_rides = total_rides.reset_index(level=None, drop=False, inplace=False)
total_rides.head()

           city  ride_id
0  Alvarezhaven       31
1    Alyssaberg       26
2    Anitamouth        9
3  Antoniomouth       22
4  Aprilchester       19

In [46]:
# Merge
merge2 = (pd.merge(average_fare, total_rides, on="city"))
merge2.head()

           city       fare  ride_id
0  Alvarezhaven  23.928710       31
1    Alyssaberg  20.609615       26
2    Anitamouth  37.315556        9
3  Antoniomouth  23.625000       22
4  Aprilchester  21.981579       19

In [36]:
# Calculate number of drivers per city
city_drivers = city_data.groupby("city").sum()["driver_count"]
city_drivers = city_drivers.to_frame()
city_drivers = city_drivers.reset_index(level=None, drop=False, inplace=False)
city_drivers.head()

           city  driver_count
0  Alvarezhaven            21
1    Alyssaberg            67
2    Anitamouth            16
3  Antoniomouth            21
4  Aprilchester            49

In [49]:
merge3 = (pd.merge(merge2, city_drivers, on="city"))
merge3.head()

           city       fare  ride_id  driver_count
0  Alvarezhaven  23.928710       31            21
1    Alyssaberg  20.609615       26            67
2    Anitamouth  37.315556        9            16
3  Antoniomouth  23.625000       22            21
4  Aprilchester  21.981579       19            49

In [6]:
#BUBBLE CHART that showcases the relationship between four key variables
# Average Fare ($) Per City 
# Total Number of Rides Per City
# Total Number of Drivers Per City
# City Type (Urban, Suburban, Rural)

# create data
x = total_rides
y = average_fare
s = 

# Add titles (main and on axis)
plt.xlabel("the X axis")
plt.ylabel("the Y axis")
plt.title("A colored bubble plot")

colors = ["Gold", "#87cefa", "#f08080"]
# use the scatter function
plt.scatter(x, y, s, c=colors, alpha=0.2)
plt.show()

TypeError: ufunc 'sqrt' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [41]:
drivers = city_data.groupby("type").sum()["driver_count"]
drivers = drivers.to_frame()
drivers = drivers.reset_index(level=None, drop=False, inplace=False)
drivers

       type  driver_count
0     Rural           104
1  Suburban           638
2     Urban          2607

In [13]:

city_type = merge_data.groupby("type").sum()
city_type = city_type.reset_index(level=None, drop=False, inplace=False)
city_type

       type  driver_count      fare           ride_id
0     Rural           727   4255.09   658729360193746
1  Suburban          9730  20335.69  3139583688401015
2     Urban         64501  40078.34  7890194186030600

In [ ]:
# Pie chart #1
plt.pie(
    # using data from groupby
    city_type['fare'],
    # with the labels being types of city
    labels=city_type['type'],
    # with shadows
    shadow=True,
    # with colors
    colors=["Gold", "#87cefa", "#f08080"],
    # with one slide exploded out
    #explode=(0, 0, 0, 0, 0.15),
    # with the start angle at 135%
    startangle=135,
    # with the percent listed as a fraction
    autopct='%1.1f%%',
    )

# View the plot drop above
plt.axis('equal')

# Add a title to the chart
plt.title("Pyber Fares by City Type")

# View the plot
plt.tight_layout()
plt.show()

In [ ]:
# Pie chart 2
# % of Total Rides by City Type

plt.pie(
    # using data from groupby
    total_rides['ride_id'],
    # with the labels being types of city
    labels=total_rides['type'],
    # with shadows
    shadow=True,
    # with colors
    colors=["Gold", "#87cefa", "#f08080"],
    # with one slide exploded out
    #explode=(0, 0, 0, 0, 0.15),
    # with the start angle at 135%
    startangle=135,
    # with the percent listed as a fraction
    autopct='%1.1f%%',
    )

# View the plot drop above
plt.axis('equal')

# Add a title to the chart
plt.title("Pyber Rides by City Type")

# View the plot
plt.tight_layout()
plt.show()

In [ ]:
# Pie chart 3 
# % of Total Drivers by City Type

# Pie chart #1
plt.pie(
    # using data from groupby
    drivers['driver_count'],
    # with the labels being types of city
    labels=city_type['type'],
    # with shadows
    shadow=True,
    # with colors
    colors=["Gold", "#87cefa", "#f08080"],
    # with one slide exploded out
    #explode=(0, 0, 0, 0, 0.15),
    # with the start angle at 135%
    startangle=135,
    # with the percent listed as a fraction
    autopct='%1.1f%%',
    )

# View the plot drop above
plt.axis('equal')

# Add a title to the chart
plt.title("Pyber Drivers by City Type")

# View the plot
plt.tight_layout()
plt.show()

In [ ]:
#You must stick to the Pyber color scheme (Gold, Light Sky Blue, and Light Coral) in producing your plot and pie charts.
#  * When making your Bubble Plot, experiment with effects like `alpha`, `edgecolor`, and `linewidths`.
#  * When making your Pie Chart, experiment with effects like `shadow`, `startangle`, and `explosion`.